@page "/instructions"

<h1>Instructions</h1>

<p>
    Create an AdventQRlendar with these 10 steps:
</p>

<ol type="1">
    <li>Enter the QR Codes in the QR code page.</li>
    <li>Click the "Print" button on the main page to open the print preview.</li>
    <li>Go to advanced settings and scroll down until "scale". Enable "actual size" under - otherwise the QR codes won't fit in the doors.</li>
    <li>Go to "options" and enable "Background graphics"</li>
    <li>Avoid duplex printing. Choose simplex instead to print on one side of the paper only. This way you will get two separate pages.</li>
    <li>Go to "colour" and choose whether you would like to print in grayscale or colour. We recommend to print in colour.</li>
    <li>Press print</li>
    <li>Cut out the doors on the first page. Cut along the white borders.</li>
    <li>Go to the second page with the QR codes. Apply glue on the blank spaces between the QR codes.</li>
    <li>Glue the two pages together. Make sure you don't glue the doors down.</li>
</ol>
