@page "/notice"

<h1>Notice</h1>

<p>The "Advent QRlendar" is using these third-party software components:</p>

<ul style="list-style-type:circle;">
    <li>
        <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a>
    </li>
    <li>
        <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor/" target="_blank">Blazor</a>
    </li>
    <li>
        <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
    </li>
    <li>
        <a href="https://www.nuget.org/packages/QRCoder/" target="_blank">QRCoder</a>
    </li>
    <li>
        <a href="https://fonts.google.com/specimen/Festive/" target="_blank">Google Fonts: Festive</a>
    </li>
    <li>
        <a href="https://unsplash.com/photos/smNzhFQRktg/" target="_blank">Unsplash: Candle on wooden table</a>
    </li>
</ul>
