<nav class="navigation">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="qrlendar">
                Advent QRlendar
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="qrcodes">
                QR Codes
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="instructions">
                Instructions
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="notice">
                Notice
            </NavLink>
        </li>
    </ul>
</nav>
